html {
    /* background-image: url("https://www.transparenttextures.com/patterns/vintage-speckles.png"); */
    background-image: url("https://www.transparenttextures.com/patterns/green-dust-and-scratches.png");
    /* background-image: url("https://www.transparenttextures.com/patterns/inspiration-geometry.png"); */
    background-color: #000000;
    font-family: 'Roboto', sans-serif;
}

.App {
    color: white;
    position: relative;
}

.container-fluid {
    background: linear-gradient(116.82deg, rgba(34, 51, 65, 0.5) 56.42%, rgba(0, 0, 0, 0.35) 99.46%), rgba(0, 0, 0, 0.9);

    position: absolute;
    width: auto;
    height: auto;

    top: 5vh;
    left: 12vw;
    right: 12vw;
    padding: 25px 35px;
    
    border: 3px solid #FFFFFF;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    border-radius: 50px;
    
}


/* Navbar */
.navbar {
	margin:0 !important;
	padding: 0px !important;
}

.navbar-brand {
    font-size: 2.5rem;
}

.nav-features h5 {
    margin-top: 20px;
}

.links {
    font-size: 1.2rem;
    color: white;
    font-weight: 400;
}

.links:hover {
    text-decoration: none;
    color: #FF669D;
}

/* Searchbar */
.planetSearchbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 15px;
    margin-left: 15px;
    margin-right: 5px;

    width: auto;
    height: 2vh;

    /* background: rgba(229, 229, 229, 0.3); */
    background: #FFFFFF;
    border-radius: 20px;
}

.astroSearchbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 15px;
    margin-left: 15px;
    margin-right: 5px;

    width: auto;
    height: 2vh;

    /* background: rgba(229, 229, 229, 0.3); */
    background: #FFFFFF;
    border-radius: 20px;
}

#search-button {
    border-radius: 20px;
    height: 35px;
    width: 40px;
    line-height: 20px;
}

/* Asteroid Details */
.earth-img {
    width: 60px;
    height: 60px;
    border-radius: 100%;
    filter: drop-shadow(0 0 0.25rem #C4C4C4); 
}

.asteroid-details {
   margin-left: 1px;
   margin-top: 15px;
}

.astType {
    font-size: 0.9rem;
    color: #C4C4C4;
    margin: 0;
    padding-top: 10px;
}

.km-button {
    color: #FFFFFF;
    background-color: #FF669D;
    border: #FF669D;
    margin-top: 11px;
    margin-bottom: 11px;
    border-radius: 15px;
    height: 28px;
    width: 70px;
    line-height: 10px;
}

#miles {
    font-size: 1rem;
}

#kilometers {
    font-size: 1rem;
}

.name-description {
    margin-top: 10px;
    width: 35vw;
}

.more-button {
    padding: 10px;
    background: #00D189;
    border: #00D189;
    color: white;
    border-radius: 15px;
    width: 59px;
    height: 28x;
    line-height: 10px;
}

#more-info {
    display: none;
}

/* Asteroid Cards */

.ast-card {
    position: relative;
    width: 230px;
    height: 190px;
    border-radius: 15px;

    margin-top: 20px;
    padding: 10px;

    background: linear-gradient(293.34deg, rgba(148, 57, 81, 0.5625) 27.35%, rgba(255, 255, 255, 0) 98.73%), #1E3485;
}

.image {
    width: 530px;
    height: 530px;
    border-radius: 100%;
    border: 4px solid #FFFFFF;
    filter: drop-shadow(0 0 0.25rem black);  
    margin-top: 10px;
}

/* Signup Page */

.signup-input {
background: rgba(229, 229, 229, 0.3);
border-radius: 20px;
width: 16rem;
}

.icon {
font-size: 200px;
color: #FFFFFF;
}

.signup-content {
color: white;
}

.signup-btn {
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 10px;
position: relative;
text-align: center;

background: #00D189;
border: #00D189;
color: white;
border-radius: 15px;
width: 76px;
height: 30x;
line-height: 10px;
}

.name-email{
line-height: 6px;
padding-top: 20px;
}

.name-email label {
padding-left: 14px;
}

.terms {
padding-top: 20px;
font-size: 12px;
}

#back-btn {
    font-size: 2rem;
    padding-top: 10px;
    padding-left: 20px;
}

/* Daily Image */
.daily-image {
    height: 400px;
    width: 400px;
    object-fit: cover;
    border-radius: 50%;
    border: 4px solid #FFFFFF;
    filter: drop-shadow(0 0 0.25rem black);  
    margin-top: 10px;
}

#full-text {
    display: none;
}

#daily-less-btn {
    display: none;
}

#spliced-text {
    display: visible;
}

/* Media Queries */
@media only screen and (max-width: 700px) {
    .image img {
        margin-left: 25px;
        width: 215px;
        height: 215px;
    }

    .container-fluid {
        background: linear-gradient(116.82deg, rgba(34, 51, 65, 0.5) 56.42%, rgba(0, 0, 0, 0.35) 99.46%), rgba(0, 0, 0, 0.9);
    
        position: absolute;
        width: auto;
        height: auto;
    
        top: 5vh;
        left: 3vw;
        right: 3vw;
        padding: 25px 35px;
        
        border: 3px solid #FFFFFF;
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
        border-radius: 50px;
        
    }
  }

  @media only screen and (min-width: 700px) and (max-width: 1000px) {
    .image img {
        margin-left: 25px;
        width: 300px;
        height: 300px;
    }

    
  }
